<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <!--<div class="container">-->
    <div class="container d-flex justify-content-between">

      <!-- ヘッダ画像 -->
      <!--<a class="navbar-brand p-3" href="/users"><%#= image_tag('topimage',width:100) %></a>-->
      <% if user_signed_in? %>
        <a class="navbar-brand p-3" href="/users">
          <%= image_tag('topimage.png', width: 100) %>
        </a>
      <% else %>
        <a class="navbar-brand p-3" href="<%= root_path %>">
          <%= image_tag('topimage.png', width: 100) %>
        </a>
      <% end %>

      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
                    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <!-- user -->
　　　　　<% if user_signed_in? %>

            <li class="nav-item">
              <%= link_to users_path, class: 'nav-link text-light d-flex align-items-center' do %>
                <i class="fas fa-desktop"></i> TOPページ
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to new_post_path(current_user), class: 'nav-link text-light d-flex align-items-center' do %>
                <i class="fas fa-plus-square"></i> 新規投稿
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to edit_user_path(current_user), class: 'nav-link text-light d-flex align-items-center' do %>
                <i class="fas fa-user-cog"></i> ユーザ情報変更
              <% end %>
            </li>

            <!-- sign out -->
            <li class="nav-item">
              <%= link_to destroy_user_session_path, method: :delete, class: 'nav-link text-light d-flex align-items-center' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>

          <!-- admin -->
          <% elsif admin_signed_in? %>

            <!-- sign out -->
            <li class="nav-item">
              <%= link_to destroy_admin_session_path, method: :delete,class: 'nav-link text-light' do %>
                <i class="fas fa-sign-out-alt"></i> ログアウト
              <% end %>
            </li>

          <% else %>

            <!-- About 追記2023/04/22　18：30 suzuki -->
            <li class="nav-item">
              <%= link_to about_path ,class: 'nav-link text-light' do %>
                <i class="fas fa-link"></i> About
              <% end %>
            </li>

            <!--新規登録 -->
            <li class="nav-item">
              <%= link_to new_user_registration_path,class: 'nav-link text-light' do %>
                <i class="fas fa-user-plus"></i> ユーザ登録
              <% end %>
            </li>

            <!-- ログイン -->
            <li class="nav-item">
              <%= link_to new_user_session_path ,class: 'nav-link text-light' do %>
                <i class="fas fa-sign-in-alt"></i> ログイン
              <% end %>
            </li>

            <li class="nav-item">
              <%= link_to homes_guest_sign_in_path, method: :post ,class: 'nav-link text-light' do %>
                <i class="fas fa-user-clock"></i> ゲストログイン(閲覧用)
              <% end %>
            </li>


        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>
